@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Outfit", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grad {
  background: linear-gradient(
    90deg,
    rgba(24, 24, 24, 1) 0%,
    rgba(28, 28, 28, 1) 100%
  );
  border: 1px dashed rgba(28, 28, 28, 1);
}
